@font-face {
  font-family: 'mug-font';
  src: url('../font/mug-font.eot?50899861');
  src: url('../font/mug-font.eot?50899861#iefix') format('embedded-opentype'),
       url('../font/mug-font.woff?50899861') format('woff'),
       url('../font/mug-font.ttf?50899861') format('truetype'),
       url('../font/mug-font.svg?50899861#mug-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mug-font';
    src: url('../font/mug-font.svg?50899861#mug-font') format('svg');
  }
}
*/
 
 [class^="mug-"]:before, [class*=" mug-"]:before {
  font-family: "mug-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.mug-off:before { content: '\e800'; } /* '' */
.mug-open-lock:before { content: '\e801'; } /* '' */
.mug-lock:before { content: '\e802'; } /* '' */
.mug-right-open:before { content: '\e803'; } /* '' */
.mug-ok:before { content: '\e804'; } /* '' */
.mug-left-open:before { content: '\e805'; } /* '' */
.mug-git:before { content: '\e806'; } /* '' */
.mug-github-circled:before { content: '\e807'; } /* '' */
.mug-github-squared:before { content: '\e808'; } /* '' */
.mug-github:before { content: '\e809'; } /* '' */
.mug-git-squared:before { content: '\e80a'; } /* '' */
.mug-apple:before { content: '\e80b'; } /* '' */
.mug-android:before { content: '\e80c'; } /* '' */
.mug-bitbucket-squared:before { content: '\e80d'; } /* '' */
.mug-bitbucket:before { content: '\e80e'; } /* '' */
.mug-css3:before { content: '\e80f'; } /* '' */
.mug-steam:before { content: '\e810'; } /* '' */
.mug-twitter-squared:before { content: '\e811'; } /* '' */
.mug-twitter:before { content: '\e812'; } /* '' */
.mug-tumblr:before { content: '\e813'; } /* '' */
.mug-tumblr-squared:before { content: '\e814'; } /* '' */
.mug-steam-squared:before { content: '\e815'; } /* '' */
.mug-youtube-play:before { content: '\e816'; } /* '' */
.mug-youtube:before { content: '\e817'; } /* '' */
.mug-codeopen:before { content: '\e818'; } /* '' */
.mug-facebook:before { content: '\e819'; } /* '' */
.mug-facebook-squared:before { content: '\e81a'; } /* '' */
.mug-linux:before { content: '\e81b'; } /* '' */
.mug-pinterest-circled:before { content: '\e81c'; } /* '' */
.mug-pinterest-squared:before { content: '\e81d'; } /* '' */
.mug-maxcdn:before { content: '\e81e'; } /* '' */
.mug-server-stack:before { content: '\e81f'; } /* '' */
.mug-phone:before { content: '\e820'; } /* '' */
.mug-console:before { content: '\e821'; } /* '' */
.mug-credit-card:before { content: '\e822'; } /* '' */
.mug-floppy:before { content: '\e823'; } /* '' */
.mug-cancel:before { content: '\e824'; } /* '' */
.mug-minus:before { content: '\e825'; } /* '' */
.mug-plus:before { content: '\e826'; } /* '' */
.mug-laptop:before { content: '\e827'; } /* '' */
.mug-desktop:before { content: '\e828'; } /* '' */
.mug-html5:before { content: '\e829'; } /* '' */
.mug-thumbs-up:before { content: '\e82a'; } /* '' */
.mug-thumbs-down:before { content: '\e82b'; } /* '' */
.mug-thumbs-up-alt:before { content: '\e82c'; } /* '' */
.mug-thumbs-down-alt:before { content: '\e82d'; } /* '' */
.mug-keyboard:before { content: '\e82e'; } /* '' */
.mug-print:before { content: '\e82f'; } /* '' */
.mug-database:before { content: '\e830'; } /* '' */
.mug-shield:before { content: '\e831'; } /* '' */
.mug-down-open:before { content: '\e832'; } /* '' */
.mug-up-open:before { content: '\e833'; } /* '' */
.mug-wrench:before { content: '\e834'; } /* '' */
.mug-cog:before { content: '\e835'; } /* '' */
.mug-download:before { content: '\e836'; } /* '' */
.mug-upload:before { content: '\e837'; } /* '' */
.mug-open-lock-alt:before { content: '\e838'; } /* '' */