
.mug-off:before { content: '\e800'; } /* '' */
.mug-open-lock:before { content: '\e801'; } /* '' */
.mug-lock:before { content: '\e802'; } /* '' */
.mug-right-open:before { content: '\e803'; } /* '' */
.mug-ok:before { content: '\e804'; } /* '' */
.mug-left-open:before { content: '\e805'; } /* '' */
.mug-git:before { content: '\e806'; } /* '' */
.mug-github-circled:before { content: '\e807'; } /* '' */
.mug-github-squared:before { content: '\e808'; } /* '' */
.mug-github:before { content: '\e809'; } /* '' */
.mug-git-squared:before { content: '\e80a'; } /* '' */
.mug-apple:before { content: '\e80b'; } /* '' */
.mug-android:before { content: '\e80c'; } /* '' */
.mug-bitbucket-squared:before { content: '\e80d'; } /* '' */
.mug-bitbucket:before { content: '\e80e'; } /* '' */
.mug-css3:before { content: '\e80f'; } /* '' */
.mug-steam:before { content: '\e810'; } /* '' */
.mug-twitter-squared:before { content: '\e811'; } /* '' */
.mug-twitter:before { content: '\e812'; } /* '' */
.mug-tumblr:before { content: '\e813'; } /* '' */
.mug-tumblr-squared:before { content: '\e814'; } /* '' */
.mug-steam-squared:before { content: '\e815'; } /* '' */
.mug-youtube-play:before { content: '\e816'; } /* '' */
.mug-youtube:before { content: '\e817'; } /* '' */
.mug-codeopen:before { content: '\e818'; } /* '' */
.mug-facebook:before { content: '\e819'; } /* '' */
.mug-facebook-squared:before { content: '\e81a'; } /* '' */
.mug-linux:before { content: '\e81b'; } /* '' */
.mug-pinterest-circled:before { content: '\e81c'; } /* '' */
.mug-pinterest-squared:before { content: '\e81d'; } /* '' */
.mug-maxcdn:before { content: '\e81e'; } /* '' */
.mug-server-stack:before { content: '\e81f'; } /* '' */
.mug-phone:before { content: '\e820'; } /* '' */
.mug-console:before { content: '\e821'; } /* '' */
.mug-credit-card:before { content: '\e822'; } /* '' */
.mug-floppy:before { content: '\e823'; } /* '' */
.mug-cancel:before { content: '\e824'; } /* '' */
.mug-minus:before { content: '\e825'; } /* '' */
.mug-plus:before { content: '\e826'; } /* '' */
.mug-laptop:before { content: '\e827'; } /* '' */
.mug-desktop:before { content: '\e828'; } /* '' */
.mug-html5:before { content: '\e829'; } /* '' */
.mug-thumbs-up:before { content: '\e82a'; } /* '' */
.mug-thumbs-down:before { content: '\e82b'; } /* '' */
.mug-thumbs-up-alt:before { content: '\e82c'; } /* '' */
.mug-thumbs-down-alt:before { content: '\e82d'; } /* '' */
.mug-keyboard:before { content: '\e82e'; } /* '' */
.mug-print:before { content: '\e82f'; } /* '' */
.mug-database:before { content: '\e830'; } /* '' */
.mug-shield:before { content: '\e831'; } /* '' */
.mug-down-open:before { content: '\e832'; } /* '' */
.mug-up-open:before { content: '\e833'; } /* '' */
.mug-wrench:before { content: '\e834'; } /* '' */
.mug-cog:before { content: '\e835'; } /* '' */
.mug-download:before { content: '\e836'; } /* '' */
.mug-upload:before { content: '\e837'; } /* '' */
.mug-open-lock-alt:before { content: '\e838'; } /* '' */